/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    padding: 15px;
    width: 950px;
    background-color: grey;
    margin: 0px auto;
}
#header{
    min-height: 150px;
    background-color: purple;
    margin-bottom: 15px;
}
#navigation{
    margin-right: 15px;
    display: inline-block;
    min-height: 300px;
    width: 200px;
    background-color: pink;
}
#main_content{
    vertical-align: top;
    display: inline-block;
    min-height: 400px;
    width: 700px;
    background-color: blue;
    border-right: 31px solid blue;
    border-bottom: 20px solid blue;
}
.subcontents{
    display: inline-block;
    margin: 15px;
    margin-right: 0px;
    min-height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement{
    margin-left: 15px;
    min-height: 120px;
    width: 660px;
    background-color: green;
}